@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-color: #fff;
  --color-white: #fff;
}

::selection {
  background-color: #e2e2e2;
  color: #191919;
}

/** CUSTOM SCROLLBAR **/
*::-webkit-scrollbar {
  width: 4px;
  backdrop-filter: invert(20%);
}
*::-webkit-scrollbar-track {
  background: rgba(38, 38, 38, 0.3);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #f8f8f8;
  border-radius: 20px;
  border: 1px solid #191919;
}


body {
  min-height: 100svh;
  color: var(--color-white);
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

@layer utilities {
  .bg-wall {
    background-image: url("../../public/wallpaper.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .neon-button-border {
    border: 2px solid var(--color-white);
    border-radius: 12px;
    padding: 1.5rem 2rem;
  }
  .neon-button-green {
    --neon-color: #39ff14;
    filter: drop-shadow(0rem 0rem 4px var(--color-white))
      drop-shadow(0rem 0rem 1px var(--color-white))
      drop-shadow(0rem 0rem 9px var(--neon-color))
      drop-shadow(0rem 0rem 40px var(--neon-color));
  }
  .neon-button-pink {
    --neon-color: #ff69b4;
    filter: drop-shadow(0rem 0rem 4px var(--color-white))
      drop-shadow(0rem 0rem 1px var(--color-white))
      drop-shadow(0rem 0rem 9px var(--neon-color))
      drop-shadow(0rem 0rem 40px var(--neon-color));
  }
  .neon-button-red {
    --neon-color: #5c0000;
    --color-white: #aaa;
    filter: drop-shadow(0rem 0rem 4px var(--color-white))
      drop-shadow(0rem 0rem 1px var(--color-white))
      drop-shadow(0rem 0rem 9px var(--neon-color))
      drop-shadow(0rem 0rem 40px var(--neon-color));
    transition: all 0.2s linear;
  }
  .neon-button-red:hover {
    --neon-color: #ff0000;
    --color-white: #fff;
    color: var(--color-white);
    animation: flicker-icon 1s 0s 1;
  }

  .neon-blue {
    color: var(--color-white);
    --neon-color: #00f0ff; /* Override the default neon color with specific color */
    text-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 30px var(--color-white),
      0 0 40px var(--neon-color), 0 0 70px var(--neon-color),
      0 0 80px var(--neon-color), 0 0 100px var(--neon-color);
  }
  .neon-red {
    color: var(--color-white);
    --neon-color: #ff0000; /* Override the default neon color with specific color */
    text-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 30px var(--color-white),
      0 0 40px var(--neon-color), 0 0 70px var(--neon-color),
      0 0 80px var(--neon-color), 0 0 100px var(--neon-color);
  }

  .neon-icon-flicker {
    animation: flicker-icon 3s 0s infinite;
  }
  .neon-flicker {
    animation: flicker-text 3s 0.2s infinite;
  }
  .bounce {
    animation: bounce 2s infinite ease-in-out;
  }

  @keyframes flicker-text {
    0%,
    19.99%,
    22%,
    62.99%,
    64%,
    64.99%,
    70%,
    100% {
      text-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 30px var(--color-white),
        0 0 40px var(--neon-color), 0 0 70px var(--neon-color),
        0 0 80px var(--neon-color), 0 0 100px var(--neon-color);
    }
    20%,
    21.99%,
    63%,
    63.99%,
    65%,
    69.99% {
      text-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 30px var(--color-white),
        0 0 30px var(--neon-color), 0 0 60px var(--neon-color),
        0 0 70px var(--neon-color), 0 0 90px var(--neon-color);
    }
  }

  @keyframes flicker-icon {
    0%,
    19.99%,
    22%,
    62.99%,
    64%,
    64.99%,
    70%,
    100% {
      filter: drop-shadow(0rem 0rem 4px var(--color-white))
        drop-shadow(0rem 0rem 1px var(--color-white))
        drop-shadow(0rem 0rem 9px var(--neon-color))
        drop-shadow(0rem 0rem 40px var(--neon-color));
    }
    20%,
    21.99%,
    63%,
    63.99%,
    65%,
    69.99% {
      filter: drop-shadow(0rem 0rem 0px var(--color-white))
        drop-shadow(0rem 0rem 1px var(--color-white))
        drop-shadow(0rem 0rem 2px var(--neon-color))
        drop-shadow(0rem 0rem 20px var(--neon-color));
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(-12px);
    }
    30% {
      transform: translateY(0px);
    }
    40% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-12px);
    }
  }

  #card-scroller::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .cocktail-card {
    display: grid;
    grid-template-columns: 8rem 1fr 1fr;
    grid-template-rows: 1fr max-content;
    grid-gap: 10px 0px;
    height: 13rem;
    width: 40rem;
  }
  .cocktail-card:not(:first-child) {
    margin-left: -10px;
  }
  .cocktail-card:not(:last-child) {
    margin-right: -10px;
  }
  
  .image {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
  
  .ingredients {
    grid-column: 2 / 3;
    max-height: 12rem;
    padding: 5px 8px;
    overflow-y: scroll;
  }

  .instructions{
    grid-column: 3 / 4;
    max-height: 12rem;
    padding: 5px 8px;
  }
  
  .favorites-button {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
  }
}
