@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: 255, 255, 255;
  --neon-green: ;
  --neon-blue: ;
  --neon-white: ;
  --neon-red: ;
  --neon-fuchsia: ;
}

body {
  min-height: 100svh;
  color: rgb(var(--text-color));
  background-image: url('../../public/wallpaper.webp');
  background-size: cover;
  background-repeat: no-repeat;
}
