@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #fff;
  --neon-color: #4626d5;
}

body {
  min-height: 100svh;
  color: var(--text-color);
  background-image: url("../../public/wallpaper.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

@layer utilities {
  .hero-cocktail {
    position: absolute;
    top: 30px;
    left: 200px;
    transform: rotate(18deg);
    --neon-color: #eeff00;
    filter: drop-shadow(0rem 0rem 4px var(--text-color))
      drop-shadow(0rem 0rem 1px var(--text-color))
      drop-shadow(0rem 0rem 9px var(--neon-color))
      drop-shadow(0rem 0rem 40px var(--neon-color));    
  }
  .neon-icon-flicker {
    animation: flicker-icon 3s infinite;
  }

  .neon-blue {
    color: var(--text-color);
    --neon-color: #4626d5; /* Override the default neon color with specific color */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
    0 0 40px var(--neon-color), 0 0 70px var(--neon-color),
    0 0 80px var(--neon-color), 0 0 100px var(--neon-color);
  }
  .neon-red {
    color: var(--text-color);
    --neon-color: #e60e0e; /* Override the default neon color with specific color */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
    0 0 40px var(--neon-color), 0 0 70px var(--neon-color),
    0 0 80px var(--neon-color), 0 0 100px var(--neon-color);
  }
  .neon-flicker {
    animation: flicker-text 3s infinite;
  }
  
  @keyframes flicker-text {
    0%,
    19.99%,
    22%,
    62.99%,
    64%,
    64.99%,
    70%,
    100% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
        0 0 40px var(--neon-color), 0 0 70px var(--neon-color),
        0 0 80px var(--neon-color), 0 0 100px var(--neon-color);
    }
    20%,
    21.99%,
    63%,
    63.99%,
    65%,
    69.99% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
        0 0 20px var(--neon-color), 0 0 35px var(--neon-color),
        0 0 30px var(--neon-color), 0 0 50px var(--neon-color);
    }
  }

  @keyframes flicker-icon {
    0%,
    19.99%,
    22%,
    62.99%,
    64%,
    64.99%,
    70%,
    100% {
      filter: drop-shadow(0rem 0rem 4px var(--text-color))
      drop-shadow(0rem 0rem 1px var(--text-color))
      drop-shadow(0rem 0rem 9px var(--neon-color))
      drop-shadow(0rem 0rem 40px var(--neon-color));
    }
    20%,
    21.99%,
    63%,
    63.99%,
    65%,
    69.99% {
      filter: drop-shadow(0rem 0rem 0px var(--text-color))
      drop-shadow(0rem 0rem 1px var(--text-color))
      drop-shadow(0rem 0rem 2px var(--neon-color))
      drop-shadow(0rem 0rem 20px var(--neon-color));
    }
  }
}
